AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

Options -Indexes

DirectoryIndex index.html index.php

<FilesMatch "(^\.htaccess|\.env|\.git)">
    Require all denied
</FilesMatch>


RewriteEngine On
RewriteCond %education !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]
