@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
    font-weight: 300 900;
}

body {
    font-family: 'Satoshi', sans-serif;
    background: #1E2A38;
    color: #E3F2FD;
    margin: 2% 0 0 5%;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: -2px;
}

h2 {
    margin: 0;
}

#header, #skills, #info, #contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

#info div, #skills div, #contact div {
    display: flex;
    align-items: center;
    gap: 8px;
}

#info img, #skills img, #contact img {
    width: 1vw;
}

#info a, #skills a, #contact a {
    text-decoration: none;
    color: #E3F2FD;
}

/* Media Queries pro responzivitu */
@media (max-width: 768px) {
    body {
        margin: 2% 2%;
    }

    h1 {
        font-size: 120%; /* Zvýšení velikosti textu */
    }

    #header, #skills, #info, #contact {
        width: 100%;
    }

    #info img, #skills img, #contact img {
        width: 5vw; /* Zvýšení šířky ikonek */
    }

    span {
        font-size: 150%; /* Zvýšení velikosti textu */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 140%; /* Zvýšení velikosti textu */
    }

    #info img, #skills img, #contact img {
        width: 10vw; /* Zvýšení šířky ikonek */
    }

    span {
        font-size: 170%; /* Zvýšení velikosti textu */
    }
}
