body {
    font-family: "Times New Roman", serif;
    background: #000000;
    color: #ffffff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    line-height: 1rem;
}

#signature {
    color: gray;
    font-size: 1rem;
}